%h2 Activities

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Image
  %tbody
    - @activities.each do |activity|
      %tr
        %td
          = activity.title
        %td
          = activity.description
        %td
          = image_tag activity.image.url(:medium)



